".source.css,.source.sass":
	"content: '\\f100';":
		prefix: "dashicons-admin-appearance"
		body: "content: '\\\\f100';"
	"content: '\\f148';":
		prefix: "dashicons-admin-collapse"
		body: "content: '\\\\f148';"
	"content: '\\f101';":
		prefix: "dashicons-admin-comments"
		body: "content: '\\\\f101';"
	"content: '\\f540';":
		prefix: "dashicons-admin-customizer"
		body: "content: '\\\\f540';"
	"content: '\\f111';":
		prefix: "dashicons-admin-generic"
		body: "content: '\\\\f111';"
	"content: '\\f102';":
		prefix: "dashicons-admin-home"
		body: "content: '\\\\f102';"
	"content: '\\f103';":
		prefix: "dashicons-admin-links"
		body: "content: '\\\\f103';"
	"content: '\\f104';":
		prefix: "dashicons-admin-media"
		body: "content: '\\\\f104';"
	"content: '\\f541';":
		prefix: "dashicons-admin-multisite"
		body: "content: '\\\\f541';"
	"content: '\\f112';":
		prefix: "dashicons-admin-network"
		body: "content: '\\\\f112';"
	"content: '\\f105';":
		prefix: "dashicons-admin-page"
		body: "content: '\\\\f105';"
	"content: '\\f106';":
		prefix: "dashicons-admin-plugins"
		body: "content: '\\\\f106';"
	"content: '\\f109';":
		prefix: "dashicons-admin-post"
		body: "content: '\\\\f109';"
	"content: '\\f108';":
		prefix: "dashicons-admin-settings"
		body: "content: '\\\\f108';"
	"content: '\\f319';":
		prefix: "dashicons-admin-site"
		body: "content: '\\\\f319';"
	"content: '\\f107';":
		prefix: "dashicons-admin-tools"
		body: "content: '\\\\f107';"
	"content: '\\f110';":
		prefix: "dashicons-admin-users"
		body: "content: '\\\\f110';"
	"content: '\\f514';":
		prefix: "dashicons-album"
		body: "content: '\\\\f514';"
	"content: '\\f134';":
		prefix: "dashicons-align-center"
		body: "content: '\\\\f134';"
	"content: '\\f135';":
		prefix: "dashicons-align-left"
		body: "content: '\\\\f135';"
	"content: '\\f138';":
		prefix: "dashicons-align-none"
		body: "content: '\\\\f138';"
	"content: '\\f136';":
		prefix: "dashicons-align-right"
		body: "content: '\\\\f136';"
	"content: '\\f183';":
		prefix: "dashicons-analytics"
		body: "content: '\\\\f183';"
	"content: '\\f480';":
		prefix: "dashicons-archive"
		body: "content: '\\\\f480';"
	"content: '\\f140';":
		prefix: "dashicons-arrow-down"
		body: "content: '\\\\f140';"
	"content: '\\f346';":
		prefix: "dashicons-arrow-down-alt"
		body: "content: '\\\\f346';"
	"content: '\\f347';":
		prefix: "dashicons-arrow-down-alt2"
		body: "content: '\\\\f347';"
	"content: '\\f141';":
		prefix: "dashicons-arrow-left"
		body: "content: '\\\\f141';"
	"content: '\\f340';":
		prefix: "dashicons-arrow-left-alt"
		body: "content: '\\\\f340';"
	"content: '\\f341';":
		prefix: "dashicons-arrow-left-alt2"
		body: "content: '\\\\f341';"
	"content: '\\f139';":
		prefix: "dashicons-arrow-right"
		body: "content: '\\\\f139';"
	"content: '\\f344';":
		prefix: "dashicons-arrow-right-alt"
		body: "content: '\\\\f344';"
	"content: '\\f345';":
		prefix: "dashicons-arrow-right-alt2"
		body: "content: '\\\\f345';"
	"content: '\\f142';":
		prefix: "dashicons-arrow-up"
		body: "content: '\\\\f142';"
	"content: '\\f342';":
		prefix: "dashicons-arrow-up-alt"
		body: "content: '\\\\f342';"
	"content: '\\f343';":
		prefix: "dashicons-arrow-up-alt2"
		body: "content: '\\\\f343';"
	"content: '\\f309';":
		prefix: "dashicons-art"
		body: "content: '\\\\f309';"
	"content: '\\f313';":
		prefix: "dashicons-awards"
		body: "content: '\\\\f313';"
	"content: '\\f321';":
		prefix: "dashicons-backup"
		body: "content: '\\\\f321';"
	"content: '\\f330';":
		prefix: "dashicons-book"
		body: "content: '\\\\f330';"
	"content: '\\f331';":
		prefix: "dashicons-book-alt"
		body: "content: '\\\\f331';"
	"content: '\\f512';":
		prefix: "dashicons-building"
		body: "content: '\\\\f512';"
	"content: '\\f338';":
		prefix: "dashicons-businessman"
		body: "content: '\\\\f338';"
	"content: '\\f145';":
		prefix: "dashicons-calendar"
		body: "content: '\\\\f145';"
	"content: '\\f508';":
		prefix: "dashicons-calendar-alt"
		body: "content: '\\\\f508';"
	"content: '\\f306';":
		prefix: "dashicons-camera"
		body: "content: '\\\\f306';"
	"content: '\\f511';":
		prefix: "dashicons-carrot"
		body: "content: '\\\\f511';"
	"content: '\\f174';":
		prefix: "dashicons-cart"
		body: "content: '\\\\f174';"
	"content: '\\f318';":
		prefix: "dashicons-category"
		body: "content: '\\\\f318';"
	"content: '\\f239';":
		prefix: "dashicons-chart-area"
		body: "content: '\\\\f239';"
	"content: '\\f185';":
		prefix: "dashicons-chart-bar"
		body: "content: '\\\\f185';"
	"content: '\\f238';":
		prefix: "dashicons-chart-line"
		body: "content: '\\\\f238';"
	"content: '\\f184';":
		prefix: "dashicons-chart-pie"
		body: "content: '\\\\f184';"
	"content: '\\f481';":
		prefix: "dashicons-clipboard"
		body: "content: '\\\\f481';"
	"content: '\\f469';":
		prefix: "dashicons-clock"
		body: "content: '\\\\f469';"
	"content: '\\f176';":
		prefix: "dashicons-cloud"
		body: "content: '\\\\f176';"
	"content: '\\f518';":
		prefix: "dashicons-controls-back"
		body: "content: '\\\\f518';"
	"content: '\\f519';":
		prefix: "dashicons-controls-forward"
		body: "content: '\\\\f519';"
	"content: '\\f523';":
		prefix: "dashicons-controls-pause"
		body: "content: '\\\\f523';"
	"content: '\\f522';":
		prefix: "dashicons-controls-play"
		body: "content: '\\\\f522';"
	"content: '\\f515';":
		prefix: "dashicons-controls-repeat"
		body: "content: '\\\\f515';"
	"content: '\\f516';":
		prefix: "dashicons-controls-skipback"
		body: "content: '\\\\f516';"
	"content: '\\f517';":
		prefix: "dashicons-controls-skipforward"
		body: "content: '\\\\f517';"
	"content: '\\f520';":
		prefix: "dashicons-controls-volumeoff"
		body: "content: '\\\\f520';"
	"content: '\\f521';":
		prefix: "dashicons-controls-volumeon"
		body: "content: '\\\\f521';"
	"content: '\\f226';":
		prefix: "dashicons-dashboard"
		body: "content: '\\\\f226';"
	"content: '\\f472';":
		prefix: "dashicons-desktop"
		body: "content: '\\\\f472';"
	"content: '\\f153';":
		prefix: "dashicons-dismiss"
		body: "content: '\\\\f153';"
	"content: '\\f316';":
		prefix: "dashicons-download"
		body: "content: '\\\\f316';"
	"content: '\\f464';":
		prefix: "dashicons-edit"
		body: "content: '\\\\f464';"
	"content: '\\f207';":
		prefix: "dashicons-editor-aligncenter"
		body: "content: '\\\\f207';"
	"content: '\\f206';":
		prefix: "dashicons-editor-alignleft"
		body: "content: '\\\\f206';"
	"content: '\\f208';":
		prefix: "dashicons-editor-alignright"
		body: "content: '\\\\f208';"
	"content: '\\f200';":
		prefix: "dashicons-editor-bold"
		body: "content: '\\\\f200';"
	"content: '\\f474';":
		prefix: "dashicons-editor-break"
		body: "content: '\\\\f474';"
	"content: '\\f475';":
		prefix: "dashicons-editor-code"
		body: "content: '\\\\f475';"
	"content: '\\f506';":
		prefix: "dashicons-editor-contract"
		body: "content: '\\\\f506';"
	"content: '\\f220';":
		prefix: "dashicons-editor-customchar"
		body: "content: '\\\\f220';"
	"content: '\\f211';":
		prefix: "dashicons-editor-distractionfree"
		body: "content: '\\\\f211';"
	"content: '\\f211';":
		prefix: "dashicons-editor-expand"
		body: "content: '\\\\f211';"
	"content: '\\f223';":
		prefix: "dashicons-editor-help"
		body: "content: '\\\\f223';"
	"content: '\\f222';":
		prefix: "dashicons-editor-indent"
		body: "content: '\\\\f222';"
	"content: '\\f209';":
		prefix: "dashicons-editor-insertmore"
		body: "content: '\\\\f209';"
	"content: '\\f201';":
		prefix: "dashicons-editor-italic"
		body: "content: '\\\\f201';"
	"content: '\\f214';":
		prefix: "dashicons-editor-justify"
		body: "content: '\\\\f214';"
	"content: '\\f212';":
		prefix: "dashicons-editor-kitchensink"
		body: "content: '\\\\f212';"
	"content: '\\f204';":
		prefix: "dashicons-editor-ol"
		body: "content: '\\\\f204';"
	"content: '\\f221';":
		prefix: "dashicons-editor-outdent"
		body: "content: '\\\\f221';"
	"content: '\\f476';":
		prefix: "dashicons-editor-paragraph"
		body: "content: '\\\\f476';"
	"content: '\\f217';":
		prefix: "dashicons-editor-paste-text"
		body: "content: '\\\\f217';"
	"content: '\\f216';":
		prefix: "dashicons-editor-paste-word"
		body: "content: '\\\\f216';"
	"content: '\\f205';":
		prefix: "dashicons-editor-quote"
		body: "content: '\\\\f205';"
	"content: '\\f218';":
		prefix: "dashicons-editor-removeformatting"
		body: "content: '\\\\f218';"
	"content: '\\f320';":
		prefix: "dashicons-editor-rtl"
		body: "content: '\\\\f320';"
	"content: '\\f210';":
		prefix: "dashicons-editor-spellcheck"
		body: "content: '\\\\f210';"
	"content: '\\f224';":
		prefix: "dashicons-editor-strikethrough"
		body: "content: '\\\\f224';"
	"content: '\\f535';":
		prefix: "dashicons-editor-table"
		body: "content: '\\\\f535';"
	"content: '\\f215';":
		prefix: "dashicons-editor-textcolor"
		body: "content: '\\\\f215';"
	"content: '\\f203';":
		prefix: "dashicons-editor-ul"
		body: "content: '\\\\f203';"
	"content: '\\f213';":
		prefix: "dashicons-editor-underline"
		body: "content: '\\\\f213';"
	"content: '\\f225';":
		prefix: "dashicons-editor-unlink"
		body: "content: '\\\\f225';"
	"content: '\\f219';":
		prefix: "dashicons-editor-video"
		body: "content: '\\\\f219';"
	"content: '\\f465';":
		prefix: "dashicons-email"
		body: "content: '\\\\f465';"
	"content: '\\f466';":
		prefix: "dashicons-email-alt"
		body: "content: '\\\\f466';"
	"content: '\\f164';":
		prefix: "dashicons-excerpt-view"
		body: "content: '\\\\f164';"
	"content: '\\f164';":
		prefix: "dashicons-exerpt-view"
		body: "content: '\\\\f164';"
	"content: '\\f504';":
		prefix: "dashicons-external"
		body: "content: '\\\\f504';"
	"content: '\\f304';":
		prefix: "dashicons-facebook"
		body: "content: '\\\\f304';"
	"content: '\\f305';":
		prefix: "dashicons-facebook-alt"
		body: "content: '\\\\f305';"
	"content: '\\f175';":
		prefix: "dashicons-feedback"
		body: "content: '\\\\f175';"
	"content: '\\f536';":
		prefix: "dashicons-filter"
		body: "content: '\\\\f536';"
	"content: '\\f227';":
		prefix: "dashicons-flag"
		body: "content: '\\\\f227';"
	"content: '\\f123';":
		prefix: "dashicons-format-aside"
		body: "content: '\\\\f123';"
	"content: '\\f127';":
		prefix: "dashicons-format-audio"
		body: "content: '\\\\f127';"
	"content: '\\f125';":
		prefix: "dashicons-format-chat"
		body: "content: '\\\\f125';"
	"content: '\\f161';":
		prefix: "dashicons-format-gallery"
		body: "content: '\\\\f161';"
	"content: '\\f128';":
		prefix: "dashicons-format-image"
		body: "content: '\\\\f128';"
	"content: '\\f103';":
		prefix: "dashicons-format-links"
		body: "content: '\\\\f103';"
	"content: '\\f122';":
		prefix: "dashicons-format-quote"
		body: "content: '\\\\f122';"
	"content: '\\f109';":
		prefix: "dashicons-format-standard"
		body: "content: '\\\\f109';"
	"content: '\\f130';":
		prefix: "dashicons-format-status"
		body: "content: '\\\\f130';"
	"content: '\\f126';":
		prefix: "dashicons-format-video"
		body: "content: '\\\\f126';"
	"content: '\\f314';":
		prefix: "dashicons-forms"
		body: "content: '\\\\f314';"
	"content: '\\f462';":
		prefix: "dashicons-googleplus"
		body: "content: '\\\\f462';"
	"content: '\\f509';":
		prefix: "dashicons-grid-view"
		body: "content: '\\\\f509';"
	"content: '\\f307';":
		prefix: "dashicons-groups"
		body: "content: '\\\\f307';"
	"content: '\\f308';":
		prefix: "dashicons-hammer"
		body: "content: '\\\\f308';"
	"content: '\\f487';":
		prefix: "dashicons-heart"
		body: "content: '\\\\f487';"
	"content: '\\f530';":
		prefix: "dashicons-hidden"
		body: "content: '\\\\f530';"
	"content: '\\f336';":
		prefix: "dashicons-id"
		body: "content: '\\\\f336';"
	"content: '\\f337';":
		prefix: "dashicons-id-alt"
		body: "content: '\\\\f337';"
	"content: '\\f165';":
		prefix: "dashicons-image-crop"
		body: "content: '\\\\f165';"
	"content: '\\f533';":
		prefix: "dashicons-image-filter"
		body: "content: '\\\\f533';"
	"content: '\\f169';":
		prefix: "dashicons-image-flip-horizontal"
		body: "content: '\\\\f169';"
	"content: '\\f168';":
		prefix: "dashicons-image-flip-vertical"
		body: "content: '\\\\f168';"
	"content: '\\f531';":
		prefix: "dashicons-image-rotate"
		body: "content: '\\\\f531';"
	"content: '\\f166';":
		prefix: "dashicons-image-rotate-left"
		body: "content: '\\\\f166';"
	"content: '\\f167';":
		prefix: "dashicons-image-rotate-right"
		body: "content: '\\\\f167';"
	"content: '\\f232';":
		prefix: "dashicons-images-alt"
		body: "content: '\\\\f232';"
	"content: '\\f233';":
		prefix: "dashicons-images-alt2"
		body: "content: '\\\\f233';"
	"content: '\\f510';":
		prefix: "dashicons-index-card"
		body: "content: '\\\\f510';"
	"content: '\\f348';":
		prefix: "dashicons-info"
		body: "content: '\\\\f348';"
	"content: '\\f538';":
		prefix: "dashicons-layout"
		body: "content: '\\\\f538';"
	"content: '\\f229';":
		prefix: "dashicons-leftright"
		body: "content: '\\\\f229';"
	"content: '\\f339';":
		prefix: "dashicons-lightbulb"
		body: "content: '\\\\f339';"
	"content: '\\f163';":
		prefix: "dashicons-list-view"
		body: "content: '\\\\f163';"
	"content: '\\f230';":
		prefix: "dashicons-location"
		body: "content: '\\\\f230';"
	"content: '\\f231';":
		prefix: "dashicons-location-alt"
		body: "content: '\\\\f231';"
	"content: '\\f160';":
		prefix: "dashicons-lock"
		body: "content: '\\\\f160';"
	"content: '\\f159';":
		prefix: "dashicons-marker"
		body: "content: '\\\\f159';"
	"content: '\\f501';":
		prefix: "dashicons-media-archive"
		body: "content: '\\\\f501';"
	"content: '\\f500';":
		prefix: "dashicons-media-audio"
		body: "content: '\\\\f500';"
	"content: '\\f499';":
		prefix: "dashicons-media-code"
		body: "content: '\\\\f499';"
	"content: '\\f498';":
		prefix: "dashicons-media-default"
		body: "content: '\\\\f498';"
	"content: '\\f497';":
		prefix: "dashicons-media-document"
		body: "content: '\\\\f497';"
	"content: '\\f496';":
		prefix: "dashicons-media-interactive"
		body: "content: '\\\\f496';"
	"content: '\\f495';":
		prefix: "dashicons-media-spreadsheet"
		body: "content: '\\\\f495';"
	"content: '\\f491';":
		prefix: "dashicons-media-text"
		body: "content: '\\\\f491';"
	"content: '\\f490';":
		prefix: "dashicons-media-video"
		body: "content: '\\\\f490';"
	"content: '\\f488';":
		prefix: "dashicons-megaphone"
		body: "content: '\\\\f488';"
	"content: '\\f333';":
		prefix: "dashicons-menu"
		body: "content: '\\\\f333';"
	"content: '\\f482';":
		prefix: "dashicons-microphone"
		body: "content: '\\\\f482';"
	"content: '\\f310';":
		prefix: "dashicons-migrate"
		body: "content: '\\\\f310';"
	"content: '\\f460';":
		prefix: "dashicons-minus"
		body: "content: '\\\\f460';"
	"content: '\\f526';":
		prefix: "dashicons-money"
		body: "content: '\\\\f526';"
	"content: '\\f484';":
		prefix: "dashicons-nametag"
		body: "content: '\\\\f484';"
	"content: '\\f325';":
		prefix: "dashicons-networking"
		body: "content: '\\\\f325';"
	"content: '\\f158';":
		prefix: "dashicons-no"
		body: "content: '\\\\f158';"
	"content: '\\f335';":
		prefix: "dashicons-no-alt"
		body: "content: '\\\\f335';"
	"content: '\\f527';":
		prefix: "dashicons-palmtree"
		body: "content: '\\\\f527';"
	"content: '\\f311';":
		prefix: "dashicons-performance"
		body: "content: '\\\\f311';"
	"content: '\\f525';":
		prefix: "dashicons-phone"
		body: "content: '\\\\f525';"
	"content: '\\f492';":
		prefix: "dashicons-playlist-audio"
		body: "content: '\\\\f492';"
	"content: '\\f493';":
		prefix: "dashicons-playlist-video"
		body: "content: '\\\\f493';"
	"content: '\\f132';":
		prefix: "dashicons-plus"
		body: "content: '\\\\f132';"
	"content: '\\f502';":
		prefix: "dashicons-plus-alt"
		body: "content: '\\\\f502';"
	"content: '\\f543';":
		prefix: "dashicons-plus-alt2"
		body: "content: '\\\\f543';"
	"content: '\\f322';":
		prefix: "dashicons-portfolio"
		body: "content: '\\\\f322';"
	"content: '\\f173';":
		prefix: "dashicons-post-status"
		body: "content: '\\\\f173';"
	"content: '\\f182';":
		prefix: "dashicons-post-trash"
		body: "content: '\\\\f182';"
	"content: '\\f157';":
		prefix: "dashicons-pressthis"
		body: "content: '\\\\f157';"
	"content: '\\f312';":
		prefix: "dashicons-products"
		body: "content: '\\\\f312';"
	"content: '\\f503';":
		prefix: "dashicons-randomize"
		body: "content: '\\\\f503';"
	"content: '\\f172';":
		prefix: "dashicons-redo"
		body: "content: '\\\\f172';"
	"content: '\\f303';":
		prefix: "dashicons-rss"
		body: "content: '\\\\f303';"
	"content: '\\f489';":
		prefix: "dashicons-schedule"
		body: "content: '\\\\f489';"
	"content: '\\f180';":
		prefix: "dashicons-screenoptions"
		body: "content: '\\\\f180';"
	"content: '\\f179';":
		prefix: "dashicons-search"
		body: "content: '\\\\f179';"
	"content: '\\f237';":
		prefix: "dashicons-share"
		body: "content: '\\\\f237';"
	"content: '\\f240';":
		prefix: "dashicons-share-alt"
		body: "content: '\\\\f240';"
	"content: '\\f242';":
		prefix: "dashicons-share-alt2"
		body: "content: '\\\\f242';"
	"content: '\\f237';":
		prefix: "dashicons-share1"
		body: "content: '\\\\f237';"
	"content: '\\f332';":
		prefix: "dashicons-shield"
		body: "content: '\\\\f332';"
	"content: '\\f334';":
		prefix: "dashicons-shield-alt"
		body: "content: '\\\\f334';"
	"content: '\\f181';":
		prefix: "dashicons-slides"
		body: "content: '\\\\f181';"
	"content: '\\f470';":
		prefix: "dashicons-smartphone"
		body: "content: '\\\\f470';"
	"content: '\\f328';":
		prefix: "dashicons-smiley"
		body: "content: '\\\\f328';"
	"content: '\\f156';":
		prefix: "dashicons-sort"
		body: "content: '\\\\f156';"
	"content: '\\f468';":
		prefix: "dashicons-sos"
		body: "content: '\\\\f468';"
	"content: '\\f154';":
		prefix: "dashicons-star-empty"
		body: "content: '\\\\f154';"
	"content: '\\f155';":
		prefix: "dashicons-star-filled"
		body: "content: '\\\\f155';"
	"content: '\\f459';":
		prefix: "dashicons-star-half"
		body: "content: '\\\\f459';"
	"content: '\\f537';":
		prefix: "dashicons-sticky"
		body: "content: '\\\\f537';"
	"content: '\\f513';":
		prefix: "dashicons-store"
		body: "content: '\\\\f513';"
	"content: '\\f471';":
		prefix: "dashicons-tablet"
		body: "content: '\\\\f471';"
	"content: '\\f323';":
		prefix: "dashicons-tag"
		body: "content: '\\\\f323';"
	"content: '\\f479';":
		prefix: "dashicons-tagcloud"
		body: "content: '\\\\f479';"
	"content: '\\f473';":
		prefix: "dashicons-testimonial"
		body: "content: '\\\\f473';"
	"content: '\\f478';":
		prefix: "dashicons-text"
		body: "content: '\\\\f478';"
	"content: '\\f542';":
		prefix: "dashicons-thumbs-down"
		body: "content: '\\\\f542';"
	"content: '\\f529';":
		prefix: "dashicons-thumbs-up"
		body: "content: '\\\\f529';"
	"content: '\\f486';":
		prefix: "dashicons-tickets"
		body: "content: '\\\\f486';"
	"content: '\\f524';":
		prefix: "dashicons-tickets-alt"
		body: "content: '\\\\f524';"
	"content: '\\f326';":
		prefix: "dashicons-translation"
		body: "content: '\\\\f326';"
	"content: '\\f182';":
		prefix: "dashicons-trash"
		body: "content: '\\\\f182';"
	"content: '\\f301';":
		prefix: "dashicons-twitter"
		body: "content: '\\\\f301';"
	"content: '\\f171';":
		prefix: "dashicons-undo"
		body: "content: '\\\\f171';"
	"content: '\\f483';":
		prefix: "dashicons-universal-access"
		body: "content: '\\\\f483';"
	"content: '\\f507';":
		prefix: "dashicons-universal-access-alt"
		body: "content: '\\\\f507';"
	"content: '\\f528';":
		prefix: "dashicons-unlock"
		body: "content: '\\\\f528';"
	"content: '\\f463';":
		prefix: "dashicons-update"
		body: "content: '\\\\f463';"
	"content: '\\f317';":
		prefix: "dashicons-upload"
		body: "content: '\\\\f317';"
	"content: '\\f178';":
		prefix: "dashicons-vault"
		body: "content: '\\\\f178';"
	"content: '\\f234';":
		prefix: "dashicons-video-alt"
		body: "content: '\\\\f234';"
	"content: '\\f235';":
		prefix: "dashicons-video-alt2"
		body: "content: '\\\\f235';"
	"content: '\\f236';":
		prefix: "dashicons-video-alt3"
		body: "content: '\\\\f236';"
	"content: '\\f177';":
		prefix: "dashicons-visibility"
		body: "content: '\\\\f177';"
	"content: '\\f534';":
		prefix: "dashicons-warning"
		body: "content: '\\\\f534';"
	"content: '\\f133';":
		prefix: "dashicons-welcome-add-page"
		body: "content: '\\\\f133';"
	"content: '\\f117';":
		prefix: "dashicons-welcome-comments"
		body: "content: '\\\\f117';"
	"content: '\\f119';":
		prefix: "dashicons-welcome-edit-page"
		body: "content: '\\\\f119';"
	"content: '\\f118';":
		prefix: "dashicons-welcome-learn-more"
		body: "content: '\\\\f118';"
	"content: '\\f115';":
		prefix: "dashicons-welcome-view-site"
		body: "content: '\\\\f115';"
	"content: '\\f116';":
		prefix: "dashicons-welcome-widgets-menus"
		body: "content: '\\\\f116';"
	"content: '\\f119';":
		prefix: "dashicons-welcome-write-blog"
		body: "content: '\\\\f119';"
	"content: '\\f120';":
		prefix: "dashicons-wordpress"
		body: "content: '\\\\f120';"
	"content: '\\f324';":
		prefix: "dashicons-wordpress-alt"
		body: "content: '\\\\f324';"
	"content: '\\f147';":
		prefix: "dashicons-yes"
		body: "content: '\\\\f147';"
