'.text.html':
  'fl-aosc':
    prefix: 'fl-aosc'
    body: '<${1:i} class=\"fl-aosc\"></${1:i}>$2'
  'fl-apple':
    prefix: 'fl-apple'
    body: '<${1:i} class=\"fl-apple\"></${1:i}>$2'
  'fl-archlinux':
    prefix: 'fl-archlinux'
    body: '<${1:i} class=\"fl-archlinux\"></${1:i}>$2'
  'fl-centos':
    prefix: 'fl-centos'
    body: '<${1:i} class=\"fl-centos\"></${1:i}>$2'
  'fl-coreos':
    prefix: 'fl-coreos'
    body: '<${1:i} class=\"fl-coreos\"></${1:i}>$2'
  'fl-debian':
    prefix: 'fl-debian'
    body: '<${1:i} class=\"fl-debian\"></${1:i}>$2'
  'fl-elementary':
    prefix: 'fl-elementary'
    body: '<${1:i} class=\"fl-elementary\"></${1:i}>$2'
  'fl-fedora':
    prefix: 'fl-fedora'
    body: '<${1:i} class=\"fl-fedora\"></${1:i}>$2'
  'fl-fedora-inverse':
    prefix: 'fl-fedora-inverse'
    body: '<${1:i} class=\"fl-fedora-inverse\"></${1:i}>$2'
  'fl-freebsd':
    prefix: 'fl-freebsd'
    body: '<${1:i} class=\"fl-freebsd\"></${1:i}>$2'
  'fl-gentoo':
    prefix: 'fl-gentoo'
    body: '<${1:i} class=\"fl-gentoo\"></${1:i}>$2'
  'fl-linuxmint':
    prefix: 'fl-linuxmint'
    body: '<${1:i} class=\"fl-linuxmint\"></${1:i}>$2'
  'fl-linuxmint-inverse':
    prefix: 'fl-linuxmint-inverse'
    body: '<${1:i} class=\"fl-linuxmint-inverse\"></${1:i}>$2'
  'fl-mageia':
    prefix: 'fl-mageia'
    body: '<${1:i} class=\"fl-mageia\"></${1:i}>$2'
  'fl-mandriva':
    prefix: 'fl-mandriva'
    body: '<${1:i} class=\"fl-mandriva\"></${1:i}>$2'
  'fl-manjaro':
    prefix: 'fl-manjaro'
    body: '<${1:i} class=\"fl-manjaro\"></${1:i}>$2'
  'fl-nixos':
    prefix: 'fl-nixos'
    body: '<${1:i} class=\"fl-nixos\"></${1:i}>$2'
  'fl-opensuse':
    prefix: 'fl-opensuse'
    body: '<${1:i} class=\"fl-opensuse\"></${1:i}>$2'
  'fl-raspberry-pi':
    prefix: 'fl-raspberry-pi'
    body: '<${1:i} class=\"fl-raspberry-pi\"></${1:i}>$2'
  'fl-redhat':
    prefix: 'fl-redhat'
    body: '<${1:i} class=\"fl-redhat\"></${1:i}>$2'
  'fl-sabayon':
    prefix: 'fl-sabayon'
    body: '<${1:i} class=\"fl-sabayon\"></${1:i}>$2'
  'fl-slackware':
    prefix: 'fl-slackware'
    body: '<${1:i} class=\"fl-slackware\"></${1:i}>$2'
  'fl-slackware-inverse':
    prefix: 'fl-slackware-inverse'
    body: '<${1:i} class=\"fl-slackware-inverse\"></${1:i}>$2'
  'fl-tux':
    prefix: 'fl-tux'
    body: '<${1:i} class=\"fl-tux\"></${1:i}>$2'
  'fl-ubuntu':
    prefix: 'fl-ubuntu'
    body: '<${1:i} class=\"fl-ubuntu\"></${1:i}>$2'
  'fl-ubuntu-inverse':
    prefix: 'fl-ubuntu-inverse'
    body: '<${1:i} class=\"fl-ubuntu-inverse\"></${1:i}>$2'
