'.text.html':
  'octicon-alert':
    'prefix': 'octicon-alert'
    'body': '<${1:span} class="octicon octicon-alert$2">$3</${1:span}>'
  'octicon-alignment-align':
    'prefix': 'octicon-alignment-align'
    'body': '<${1:span} class="octicon octicon-alignment-align$2">$3</${1:span}>'
  'octicon-alignment-aligned-to':
    'prefix': 'octicon-alignment-aligned-to'
    'body': '<${1:span} class="octicon octicon-alignment-aligned-to$2">$3</${1:span}>'
  'octicon-alignment-unalign':
    'prefix': 'octicon-alignment-unalign'
    'body': '<${1:span} class="octicon octicon-alignment-unalign$2">$3</${1:span}>'
  'octicon-arrow-down':
    'prefix': 'octicon-arrow-down'
    'body': '<${1:span} class="octicon octicon-arrow-down$2">$3</${1:span}>'
  'octicon-arrow-left':
    'prefix': 'octicon-arrow-left'
    'body': '<${1:span} class="octicon octicon-arrow-left$2">$3</${1:span}>'
  'octicon-arrow-right':
    'prefix': 'octicon-arrow-right'
    'body': '<${1:span} class="octicon octicon-arrow-right$2">$3</${1:span}>'
  'octicon-arrow-small-down':
    'prefix': 'octicon-arrow-small-down'
    'body': '<${1:span} class="octicon octicon-arrow-small-down$2">$3</${1:span}>'
  'octicon-arrow-small-left':
    'prefix': 'octicon-arrow-small-left'
    'body': '<${1:span} class="octicon octicon-arrow-small-left$2">$3</${1:span}>'
  'octicon-arrow-small-right':
    'prefix': 'octicon-arrow-small-right'
    'body': '<${1:span} class="octicon octicon-arrow-small-right$2">$3</${1:span}>'
  'octicon-arrow-small-up':
    'prefix': 'octicon-arrow-small-up'
    'body': '<${1:span} class="octicon octicon-arrow-small-up$2">$3</${1:span}>'
  'octicon-arrow-up':
    'prefix': 'octicon-arrow-up'
    'body': '<${1:span} class="octicon octicon-arrow-up$2">$3</${1:span}>'
  'octicon-beer':
    'prefix': 'octicon-beer'
    'body': '<${1:span} class="octicon octicon-beer$2">$3</${1:span}>'
  'octicon-book':
    'prefix': 'octicon-book'
    'body': '<${1:span} class="octicon octicon-book$2">$3</${1:span}>'
  'octicon-bookmark':
    'prefix': 'octicon-bookmark'
    'body': '<${1:span} class="octicon octicon-bookmark$2">$3</${1:span}>'
  'octicon-briefcase':
    'prefix': 'octicon-briefcase'
    'body': '<${1:span} class="octicon octicon-briefcase$2">$3</${1:span}>'
  'octicon-broadcast':
    'prefix': 'octicon-broadcast'
    'body': '<${1:span} class="octicon octicon-broadcast$2">$3</${1:span}>'
  'octicon-browser':
    'prefix': 'octicon-browser'
    'body': '<${1:span} class="octicon octicon-browser$2">$3</${1:span}>'
  'octicon-bug':
    'prefix': 'octicon-bug'
    'body': '<${1:span} class="octicon octicon-bug$2">$3</${1:span}>'
  'octicon-calendar':
    'prefix': 'octicon-calendar'
    'body': '<${1:span} class="octicon octicon-calendar$2">$3</${1:span}>'
  'octicon-check':
    'prefix': 'octicon-check'
    'body': '<${1:span} class="octicon octicon-check$2">$3</${1:span}>'
  'octicon-checklist':
    'prefix': 'octicon-checklist'
    'body': '<${1:span} class="octicon octicon-checklist$2">$3</${1:span}>'
  'octicon-chevron-down':
    'prefix': 'octicon-chevron-down'
    'body': '<${1:span} class="octicon octicon-chevron-down$2">$3</${1:span}>'
  'octicon-chevron-left':
    'prefix': 'octicon-chevron-left'
    'body': '<${1:span} class="octicon octicon-chevron-left$2">$3</${1:span}>'
  'octicon-chevron-right':
    'prefix': 'octicon-chevron-right'
    'body': '<${1:span} class="octicon octicon-chevron-right$2">$3</${1:span}>'
  'octicon-chevron-up':
    'prefix': 'octicon-chevron-up'
    'body': '<${1:span} class="octicon octicon-chevron-up$2">$3</${1:span}>'
  'octicon-circle-slash':
    'prefix': 'octicon-circle-slash'
    'body': '<${1:span} class="octicon octicon-circle-slash$2">$3</${1:span}>'
  'octicon-circuit-board':
    'prefix': 'octicon-circuit-board'
    'body': '<${1:span} class="octicon octicon-circuit-board$2">$3</${1:span}>'
  'octicon-clippy':
    'prefix': 'octicon-clippy'
    'body': '<${1:span} class="octicon octicon-clippy$2">$3</${1:span}>'
  'octicon-clock':
    'prefix': 'octicon-clock'
    'body': '<${1:span} class="octicon octicon-clock$2">$3</${1:span}>'
  'octicon-cloud-download':
    'prefix': 'octicon-cloud-download'
    'body': '<${1:span} class="octicon octicon-cloud-download$2">$3</${1:span}>'
  'octicon-cloud-upload':
    'prefix': 'octicon-cloud-upload'
    'body': '<${1:span} class="octicon octicon-cloud-upload$2">$3</${1:span}>'
  'octicon-code':
    'prefix': 'octicon-code'
    'body': '<${1:span} class="octicon octicon-code$2">$3</${1:span}>'
  'octicon-color-mode':
    'prefix': 'octicon-color-mode'
    'body': '<${1:span} class="octicon octicon-color-mode$2">$3</${1:span}>'
  'octicon-comment-add':
    'prefix': 'octicon-comment-add'
    'body': '<${1:span} class="octicon octicon-comment-add$2">$3</${1:span}>'
  'octicon-comment-discussion':
    'prefix': 'octicon-comment-discussion'
    'body': '<${1:span} class="octicon octicon-comment-discussion$2">$3</${1:span}>'
  'octicon-comment':
    'prefix': 'octicon-comment'
    'body': '<${1:span} class="octicon octicon-comment$2">$3</${1:span}>'
  'octicon-credit-card':
    'prefix': 'octicon-credit-card'
    'body': '<${1:span} class="octicon octicon-credit-card$2">$3</${1:span}>'
  'octicon-dash':
    'prefix': 'octicon-dash'
    'body': '<${1:span} class="octicon octicon-dash$2">$3</${1:span}>'
  'octicon-dashboard':
    'prefix': 'octicon-dashboard'
    'body': '<${1:span} class="octicon octicon-dashboard$2">$3</${1:span}>'
  'octicon-database':
    'prefix': 'octicon-database'
    'body': '<${1:span} class="octicon octicon-database$2">$3</${1:span}>'
  'octicon-device-camera-video':
    'prefix': 'octicon-device-camera-video'
    'body': '<${1:span} class="octicon octicon-device-camera-video$2">$3</${1:span}>'
  'octicon-device-camera':
    'prefix': 'octicon-device-camera'
    'body': '<${1:span} class="octicon octicon-device-camera$2">$3</${1:span}>'
  'octicon-device-desktop':
    'prefix': 'octicon-device-desktop'
    'body': '<${1:span} class="octicon octicon-device-desktop$2">$3</${1:span}>'
  'octicon-device-mobile':
    'prefix': 'octicon-device-mobile'
    'body': '<${1:span} class="octicon octicon-device-mobile$2">$3</${1:span}>'
  'octicon-diff-added':
    'prefix': 'octicon-diff-added'
    'body': '<${1:span} class="octicon octicon-diff-added$2">$3</${1:span}>'
  'octicon-diff-ignored':
    'prefix': 'octicon-diff-ignored'
    'body': '<${1:span} class="octicon octicon-diff-ignored$2">$3</${1:span}>'
  'octicon-diff-modified':
    'prefix': 'octicon-diff-modified'
    'body': '<${1:span} class="octicon octicon-diff-modified$2">$3</${1:span}>'
  'octicon-diff-removed':
    'prefix': 'octicon-diff-removed'
    'body': '<${1:span} class="octicon octicon-diff-removed$2">$3</${1:span}>'
  'octicon-diff-renamed':
    'prefix': 'octicon-diff-renamed'
    'body': '<${1:span} class="octicon octicon-diff-renamed$2">$3</${1:span}>'
  'octicon-diff':
    'prefix': 'octicon-diff'
    'body': '<${1:span} class="octicon octicon-diff$2">$3</${1:span}>'
  'octicon-ellipsis':
    'prefix': 'octicon-ellipsis'
    'body': '<${1:span} class="octicon octicon-ellipsis$2">$3</${1:span}>'
  'octicon-eye-unwatch':
    'prefix': 'octicon-eye-unwatch'
    'body': '<${1:span} class="octicon octicon-eye-unwatch$2">$3</${1:span}>'
  'octicon-eye-watch':
    'prefix': 'octicon-eye-watch'
    'body': '<${1:span} class="octicon octicon-eye-watch$2">$3</${1:span}>'
  'octicon-eye':
    'prefix': 'octicon-eye'
    'body': '<${1:span} class="octicon octicon-eye$2">$3</${1:span}>'
  'octicon-file-add':
    'prefix': 'octicon-file-add'
    'body': '<${1:span} class="octicon octicon-file-add$2">$3</${1:span}>'
  'octicon-file-binary':
    'prefix': 'octicon-file-binary'
    'body': '<${1:span} class="octicon octicon-file-binary$2">$3</${1:span}>'
  'octicon-file-code':
    'prefix': 'octicon-file-code'
    'body': '<${1:span} class="octicon octicon-file-code$2">$3</${1:span}>'
  'octicon-file-directory-create':
    'prefix': 'octicon-file-directory-create'
    'body': '<${1:span} class="octicon octicon-file-directory-create$2">$3</${1:span}>'
  'octicon-file-directory':
    'prefix': 'octicon-file-directory'
    'body': '<${1:span} class="octicon octicon-file-directory$2">$3</${1:span}>'
  'octicon-file-media':
    'prefix': 'octicon-file-media'
    'body': '<${1:span} class="octicon octicon-file-media$2">$3</${1:span}>'
  'octicon-file-pdf':
    'prefix': 'octicon-file-pdf'
    'body': '<${1:span} class="octicon octicon-file-pdf$2">$3</${1:span}>'
  'octicon-file-submodule':
    'prefix': 'octicon-file-submodule'
    'body': '<${1:span} class="octicon octicon-file-submodule$2">$3</${1:span}>'
  'octicon-file-symlink-directory':
    'prefix': 'octicon-file-symlink-directory'
    'body': '<${1:span} class="octicon octicon-file-symlink-directory$2">$3</${1:span}>'
  'octicon-file-symlink-file':
    'prefix': 'octicon-file-symlink-file'
    'body': '<${1:span} class="octicon octicon-file-symlink-file$2">$3</${1:span}>'
  'octicon-file-text':
    'prefix': 'octicon-file-text'
    'body': '<${1:span} class="octicon octicon-file-text$2">$3</${1:span}>'
  'octicon-file-zip':
    'prefix': 'octicon-file-zip'
    'body': '<${1:span} class="octicon octicon-file-zip$2">$3</${1:span}>'
  'octicon-flame':
    'prefix': 'octicon-flame'
    'body': '<${1:span} class="octicon octicon-flame$2">$3</${1:span}>'
  'octicon-fold':
    'prefix': 'octicon-fold'
    'body': '<${1:span} class="octicon octicon-fold$2">$3</${1:span}>'
  'octicon-gear':
    'prefix': 'octicon-gear'
    'body': '<${1:span} class="octicon octicon-gear$2">$3</${1:span}>'
  'octicon-gift':
    'prefix': 'octicon-gift'
    'body': '<${1:span} class="octicon octicon-gift$2">$3</${1:span}>'
  'octicon-gist-fork':
    'prefix': 'octicon-gist-fork'
    'body': '<${1:span} class="octicon octicon-gist-fork$2">$3</${1:span}>'
  'octicon-gist-new':
    'prefix': 'octicon-gist-new'
    'body': '<${1:span} class="octicon octicon-gist-new$2">$3</${1:span}>'
  'octicon-gist-private':
    'prefix': 'octicon-gist-private'
    'body': '<${1:span} class="octicon octicon-gist-private$2">$3</${1:span}>'
  'octicon-gist-secret':
    'prefix': 'octicon-gist-secret'
    'body': '<${1:span} class="octicon octicon-gist-secret$2">$3</${1:span}>'
  'octicon-gist':
    'prefix': 'octicon-gist'
    'body': '<${1:span} class="octicon octicon-gist$2">$3</${1:span}>'
  'octicon-git-branch-create':
    'prefix': 'octicon-git-branch-create'
    'body': '<${1:span} class="octicon octicon-git-branch-create$2">$3</${1:span}>'
  'octicon-git-branch-delete':
    'prefix': 'octicon-git-branch-delete'
    'body': '<${1:span} class="octicon octicon-git-branch-delete$2">$3</${1:span}>'
  'octicon-git-branch':
    'prefix': 'octicon-git-branch'
    'body': '<${1:span} class="octicon octicon-git-branch$2">$3</${1:span}>'
  'octicon-git-commit':
    'prefix': 'octicon-git-commit'
    'body': '<${1:span} class="octicon octicon-git-commit$2">$3</${1:span}>'
  'octicon-git-compare':
    'prefix': 'octicon-git-compare'
    'body': '<${1:span} class="octicon octicon-git-compare$2">$3</${1:span}>'
  'octicon-git-fork-private':
    'prefix': 'octicon-git-fork-private'
    'body': '<${1:span} class="octicon octicon-git-fork-private$2">$3</${1:span}>'
  'octicon-git-merge':
    'prefix': 'octicon-git-merge'
    'body': '<${1:span} class="octicon octicon-git-merge$2">$3</${1:span}>'
  'octicon-git-pull-request-abandoned':
    'prefix': 'octicon-git-pull-request-abandoned'
    'body': '<${1:span} class="octicon octicon-git-pull-request-abandoned$2">$3</${1:span}>'
  'octicon-git-pull-request':
    'prefix': 'octicon-git-pull-request'
    'body': '<${1:span} class="octicon octicon-git-pull-request$2">$3</${1:span}>'
  'octicon-globe':
    'prefix': 'octicon-globe'
    'body': '<${1:span} class="octicon octicon-globe$2">$3</${1:span}>'
  'octicon-graph':
    'prefix': 'octicon-graph'
    'body': '<${1:span} class="octicon octicon-graph$2">$3</${1:span}>'
  'octicon-heart':
    'prefix': 'octicon-heart'
    'body': '<${1:span} class="octicon octicon-heart$2">$3</${1:span}>'
  'octicon-history':
    'prefix': 'octicon-history'
    'body': '<${1:span} class="octicon octicon-history$2">$3</${1:span}>'
  'octicon-home':
    'prefix': 'octicon-home'
    'body': '<${1:span} class="octicon octicon-home$2">$3</${1:span}>'
  'octicon-horizontal-rule':
    'prefix': 'octicon-horizontal-rule'
    'body': '<${1:span} class="octicon octicon-horizontal-rule$2">$3</${1:span}>'
  'octicon-hourglass':
    'prefix': 'octicon-hourglass'
    'body': '<${1:span} class="octicon octicon-hourglass$2">$3</${1:span}>'
  'octicon-hubot':
    'prefix': 'octicon-hubot'
    'body': '<${1:span} class="octicon octicon-hubot$2">$3</${1:span}>'
  'octicon-inbox':
    'prefix': 'octicon-inbox'
    'body': '<${1:span} class="octicon octicon-inbox$2">$3</${1:span}>'
  'octicon-info':
    'prefix': 'octicon-info'
    'body': '<${1:span} class="octicon octicon-info$2">$3</${1:span}>'
  'octicon-issue-closed':
    'prefix': 'octicon-issue-closed'
    'body': '<${1:span} class="octicon octicon-issue-closed$2">$3</${1:span}>'
  'octicon-issue-opened':
    'prefix': 'octicon-issue-opened'
    'body': '<${1:span} class="octicon octicon-issue-opened$2">$3</${1:span}>'
  'octicon-issue-reopened':
    'prefix': 'octicon-issue-reopened'
    'body': '<${1:span} class="octicon octicon-issue-reopened$2">$3</${1:span}>'
  'octicon-jersey':
    'prefix': 'octicon-jersey'
    'body': '<${1:span} class="octicon octicon-jersey$2">$3</${1:span}>'
  'octicon-jump-down':
    'prefix': 'octicon-jump-down'
    'body': '<${1:span} class="octicon octicon-jump-down$2">$3</${1:span}>'
  'octicon-jump-left':
    'prefix': 'octicon-jump-left'
    'body': '<${1:span} class="octicon octicon-jump-left$2">$3</${1:span}>'
  'octicon-jump-right':
    'prefix': 'octicon-jump-right'
    'body': '<${1:span} class="octicon octicon-jump-right$2">$3</${1:span}>'
  'octicon-jump-up':
    'prefix': 'octicon-jump-up'
    'body': '<${1:span} class="octicon octicon-jump-up$2">$3</${1:span}>'
  'octicon-key':
    'prefix': 'octicon-key'
    'body': '<${1:span} class="octicon octicon-key$2">$3</${1:span}>'
  'octicon-keyboard':
    'prefix': 'octicon-keyboard'
    'body': '<${1:span} class="octicon octicon-keyboard$2">$3</${1:span}>'
  'octicon-law':
    'prefix': 'octicon-law'
    'body': '<${1:span} class="octicon octicon-law$2">$3</${1:span}>'
  'octicon-light-bulb':
    'prefix': 'octicon-light-bulb'
    'body': '<${1:span} class="octicon octicon-light-bulb$2">$3</${1:span}>'
  'octicon-link-external':
    'prefix': 'octicon-link-external'
    'body': '<${1:span} class="octicon octicon-link-external$2">$3</${1:span}>'
  'octicon-link':
    'prefix': 'octicon-link'
    'body': '<${1:span} class="octicon octicon-link$2">$3</${1:span}>'
  'octicon-list-ordered':
    'prefix': 'octicon-list-ordered'
    'body': '<${1:span} class="octicon octicon-list-ordered$2">$3</${1:span}>'
  'octicon-list-unordered':
    'prefix': 'octicon-list-unordered'
    'body': '<${1:span} class="octicon octicon-list-unordered$2">$3</${1:span}>'
  'octicon-location':
    'prefix': 'octicon-location'
    'body': '<${1:span} class="octicon octicon-location$2">$3</${1:span}>'
  'octicon-lock':
    'prefix': 'octicon-lock'
    'body': '<${1:span} class="octicon octicon-lock$2">$3</${1:span}>'
  'octicon-log-in':
    'prefix': 'octicon-log-in'
    'body': '<${1:span} class="octicon octicon-log-in$2">$3</${1:span}>'
  'octicon-log-out':
    'prefix': 'octicon-log-out'
    'body': '<${1:span} class="octicon octicon-log-out$2">$3</${1:span}>'
  'octicon-logo-github':
    'prefix': 'octicon-logo-github'
    'body': '<${1:span} class="octicon octicon-logo-github$2">$3</${1:span}>'
  'octicon-mail-read':
    'prefix': 'octicon-mail-read'
    'body': '<${1:span} class="octicon octicon-mail-read$2">$3</${1:span}>'
  'octicon-mail-reply':
    'prefix': 'octicon-mail-reply'
    'body': '<${1:span} class="octicon octicon-mail-reply$2">$3</${1:span}>'
  'octicon-mail':
    'prefix': 'octicon-mail'
    'body': '<${1:span} class="octicon octicon-mail$2">$3</${1:span}>'
  'octicon-mark-github':
    'prefix': 'octicon-mark-github'
    'body': '<${1:span} class="octicon octicon-mark-github$2">$3</${1:span}>'
  'octicon-markdown':
    'prefix': 'octicon-markdown'
    'body': '<${1:span} class="octicon octicon-markdown$2">$3</${1:span}>'
  'octicon-megaphone':
    'prefix': 'octicon-megaphone'
    'body': '<${1:span} class="octicon octicon-megaphone$2">$3</${1:span}>'
  'octicon-mention':
    'prefix': 'octicon-mention'
    'body': '<${1:span} class="octicon octicon-mention$2">$3</${1:span}>'
  'octicon-microscope':
    'prefix': 'octicon-microscope'
    'body': '<${1:span} class="octicon octicon-microscope$2">$3</${1:span}>'
  'octicon-milestone':
    'prefix': 'octicon-milestone'
    'body': '<${1:span} class="octicon octicon-milestone$2">$3</${1:span}>'
  'octicon-mirror-private':
    'prefix': 'octicon-mirror-private'
    'body': '<${1:span} class="octicon octicon-mirror-private$2">$3</${1:span}>'
  'octicon-mirror-public':
    'prefix': 'octicon-mirror-public'
    'body': '<${1:span} class="octicon octicon-mirror-public$2">$3</${1:span}>'
  'octicon-mirror':
    'prefix': 'octicon-mirror'
    'body': '<${1:span} class="octicon octicon-mirror$2">$3</${1:span}>'
  'octicon-mortar-board':
    'prefix': 'octicon-mortar-board'
    'body': '<${1:span} class="octicon octicon-mortar-board$2">$3</${1:span}>'
  'octicon-move-down':
    'prefix': 'octicon-move-down'
    'body': '<${1:span} class="octicon octicon-move-down$2">$3</${1:span}>'
  'octicon-move-left':
    'prefix': 'octicon-move-left'
    'body': '<${1:span} class="octicon octicon-move-left$2">$3</${1:span}>'
  'octicon-move-right':
    'prefix': 'octicon-move-right'
    'body': '<${1:span} class="octicon octicon-move-right$2">$3</${1:span}>'
  'octicon-move-up':
    'prefix': 'octicon-move-up'
    'body': '<${1:span} class="octicon octicon-move-up$2">$3</${1:span}>'
  'octicon-mute':
    'prefix': 'octicon-mute'
    'body': '<${1:span} class="octicon octicon-mute$2">$3</${1:span}>'
  'octicon-no-newline':
    'prefix': 'octicon-no-newline'
    'body': '<${1:span} class="octicon octicon-no-newline$2">$3</${1:span}>'
  'octicon-octoface':
    'prefix': 'octicon-octoface'
    'body': '<${1:span} class="octicon octicon-octoface$2">$3</${1:span}>'
  'octicon-organization':
    'prefix': 'octicon-organization'
    'body': '<${1:span} class="octicon octicon-organization$2">$3</${1:span}>'
  'octicon-package':
    'prefix': 'octicon-package'
    'body': '<${1:span} class="octicon octicon-package$2">$3</${1:span}>'
  'octicon-paintcan':
    'prefix': 'octicon-paintcan'
    'body': '<${1:span} class="octicon octicon-paintcan$2">$3</${1:span}>'
  'octicon-pencil':
    'prefix': 'octicon-pencil'
    'body': '<${1:span} class="octicon octicon-pencil$2">$3</${1:span}>'
  'octicon-person-add':
    'prefix': 'octicon-person-add'
    'body': '<${1:span} class="octicon octicon-person-add$2">$3</${1:span}>'
  'octicon-person-follow':
    'prefix': 'octicon-person-follow'
    'body': '<${1:span} class="octicon octicon-person-follow$2">$3</${1:span}>'
  'octicon-person':
    'prefix': 'octicon-person'
    'body': '<${1:span} class="octicon octicon-person$2">$3</${1:span}>'
  'octicon-pin':
    'prefix': 'octicon-pin'
    'body': '<${1:span} class="octicon octicon-pin$2">$3</${1:span}>'
  'octicon-playback-fast-forward':
    'prefix': 'octicon-playback-fast-forward'
    'body': '<${1:span} class="octicon octicon-playback-fast-forward$2">$3</${1:span}>'
  'octicon-playback-pause':
    'prefix': 'octicon-playback-pause'
    'body': '<${1:span} class="octicon octicon-playback-pause$2">$3</${1:span}>'
  'octicon-playback-play':
    'prefix': 'octicon-playback-play'
    'body': '<${1:span} class="octicon octicon-playback-play$2">$3</${1:span}>'
  'octicon-playback-rewind':
    'prefix': 'octicon-playback-rewind'
    'body': '<${1:span} class="octicon octicon-playback-rewind$2">$3</${1:span}>'
  'octicon-plug':
    'prefix': 'octicon-plug'
    'body': '<${1:span} class="octicon octicon-plug$2">$3</${1:span}>'
  'octicon-plus':
    'prefix': 'octicon-plus'
    'body': '<${1:span} class="octicon octicon-plus$2">$3</${1:span}>'
  'octicon-podium':
    'prefix': 'octicon-podium'
    'body': '<${1:span} class="octicon octicon-podium$2">$3</${1:span}>'
  'octicon-primitive-dot':
    'prefix': 'octicon-primitive-dot'
    'body': '<${1:span} class="octicon octicon-primitive-dot$2">$3</${1:span}>'
  'octicon-primitive-square':
    'prefix': 'octicon-primitive-square'
    'body': '<${1:span} class="octicon octicon-primitive-square$2">$3</${1:span}>'
  'octicon-pulse':
    'prefix': 'octicon-pulse'
    'body': '<${1:span} class="octicon octicon-pulse$2">$3</${1:span}>'
  'octicon-puzzle':
    'prefix': 'octicon-puzzle'
    'body': '<${1:span} class="octicon octicon-puzzle$2">$3</${1:span}>'
  'octicon-question':
    'prefix': 'octicon-question'
    'body': '<${1:span} class="octicon octicon-question$2">$3</${1:span}>'
  'octicon-quote':
    'prefix': 'octicon-quote'
    'body': '<${1:span} class="octicon octicon-quote$2">$3</${1:span}>'
  'octicon-radio-tower':
    'prefix': 'octicon-radio-tower'
    'body': '<${1:span} class="octicon octicon-radio-tower$2">$3</${1:span}>'
  'octicon-remove-close':
    'prefix': 'octicon-remove-close'
    'body': '<${1:span} class="octicon octicon-remove-close$2">$3</${1:span}>'
  'octicon-repo-clone':
    'prefix': 'octicon-repo-clone'
    'body': '<${1:span} class="octicon octicon-repo-clone$2">$3</${1:span}>'
  'octicon-repo-create':
    'prefix': 'octicon-repo-create'
    'body': '<${1:span} class="octicon octicon-repo-create$2">$3</${1:span}>'
  'octicon-repo-delete':
    'prefix': 'octicon-repo-delete'
    'body': '<${1:span} class="octicon octicon-repo-delete$2">$3</${1:span}>'
  'octicon-repo-force-push':
    'prefix': 'octicon-repo-force-push'
    'body': '<${1:span} class="octicon octicon-repo-force-push$2">$3</${1:span}>'
  'octicon-repo-forked':
    'prefix': 'octicon-repo-forked'
    'body': '<${1:span} class="octicon octicon-repo-forked$2">$3</${1:span}>'
  'octicon-repo-pull':
    'prefix': 'octicon-repo-pull'
    'body': '<${1:span} class="octicon octicon-repo-pull$2">$3</${1:span}>'
  'octicon-repo-push':
    'prefix': 'octicon-repo-push'
    'body': '<${1:span} class="octicon octicon-repo-push$2">$3</${1:span}>'
  'octicon-repo-sync':
    'prefix': 'octicon-repo-sync'
    'body': '<${1:span} class="octicon octicon-repo-sync$2">$3</${1:span}>'
  'octicon-repo':
    'prefix': 'octicon-repo'
    'body': '<${1:span} class="octicon octicon-repo$2">$3</${1:span}>'
  'octicon-rocket':
    'prefix': 'octicon-rocket'
    'body': '<${1:span} class="octicon octicon-rocket$2">$3</${1:span}>'
  'octicon-rss':
    'prefix': 'octicon-rss'
    'body': '<${1:span} class="octicon octicon-rss$2">$3</${1:span}>'
  'octicon-ruby':
    'prefix': 'octicon-ruby'
    'body': '<${1:span} class="octicon octicon-ruby$2">$3</${1:span}>'
  'octicon-screen-full':
    'prefix': 'octicon-screen-full'
    'body': '<${1:span} class="octicon octicon-screen-full$2">$3</${1:span}>'
  'octicon-screen-normal':
    'prefix': 'octicon-screen-normal'
    'body': '<${1:span} class="octicon octicon-screen-normal$2">$3</${1:span}>'
  'octicon-search-save':
    'prefix': 'octicon-search-save'
    'body': '<${1:span} class="octicon octicon-search-save$2">$3</${1:span}>'
  'octicon-search':
    'prefix': 'octicon-search'
    'body': '<${1:span} class="octicon octicon-search$2">$3</${1:span}>'
  'octicon-server':
    'prefix': 'octicon-server'
    'body': '<${1:span} class="octicon octicon-server$2">$3</${1:span}>'
  'octicon-settings':
    'prefix': 'octicon-settings'
    'body': '<${1:span} class="octicon octicon-settings$2">$3</${1:span}>'
  'octicon-sign-in':
    'prefix': 'octicon-sign-in'
    'body': '<${1:span} class="octicon octicon-sign-in$2">$3</${1:span}>'
  'octicon-sign-out':
    'prefix': 'octicon-sign-out'
    'body': '<${1:span} class="octicon octicon-sign-out$2">$3</${1:span}>'
  'octicon-split':
    'prefix': 'octicon-split'
    'body': '<${1:span} class="octicon octicon-split$2">$3</${1:span}>'
  'octicon-squirrel':
    'prefix': 'octicon-squirrel'
    'body': '<${1:span} class="octicon octicon-squirrel$2">$3</${1:span}>'
  'octicon-star-add':
    'prefix': 'octicon-star-add'
    'body': '<${1:span} class="octicon octicon-star-add$2">$3</${1:span}>'
  'octicon-star-delete':
    'prefix': 'octicon-star-delete'
    'body': '<${1:span} class="octicon octicon-star-delete$2">$3</${1:span}>'
  'octicon-star':
    'prefix': 'octicon-star'
    'body': '<${1:span} class="octicon octicon-star$2">$3</${1:span}>'
  'octicon-steps':
    'prefix': 'octicon-steps'
    'body': '<${1:span} class="octicon octicon-steps$2">$3</${1:span}>'
  'octicon-stop':
    'prefix': 'octicon-stop'
    'body': '<${1:span} class="octicon octicon-stop$2">$3</${1:span}>'
  'octicon-sync':
    'prefix': 'octicon-sync'
    'body': '<${1:span} class="octicon octicon-sync$2">$3</${1:span}>'
  'octicon-tag-add':
    'prefix': 'octicon-tag-add'
    'body': '<${1:span} class="octicon octicon-tag-add$2">$3</${1:span}>'
  'octicon-tag-remove':
    'prefix': 'octicon-tag-remove'
    'body': '<${1:span} class="octicon octicon-tag-remove$2">$3</${1:span}>'
  'octicon-tag':
    'prefix': 'octicon-tag'
    'body': '<${1:span} class="octicon octicon-tag$2">$3</${1:span}>'
  'octicon-telescope':
    'prefix': 'octicon-telescope'
    'body': '<${1:span} class="octicon octicon-telescope$2">$3</${1:span}>'
  'octicon-terminal':
    'prefix': 'octicon-terminal'
    'body': '<${1:span} class="octicon octicon-terminal$2">$3</${1:span}>'
  'octicon-three-bars':
    'prefix': 'octicon-three-bars'
    'body': '<${1:span} class="octicon octicon-three-bars$2">$3</${1:span}>'
  'octicon-thumbsdown':
    'prefix': 'octicon-thumbsdown'
    'body': '<${1:span} class="octicon octicon-thumbsdown$2">$3</${1:span}>'
  'octicon-thumbsup':
    'prefix': 'octicon-thumbsup'
    'body': '<${1:span} class="octicon octicon-thumbsup$2">$3</${1:span}>'
  'octicon-tools':
    'prefix': 'octicon-tools'
    'body': '<${1:span} class="octicon octicon-tools$2">$3</${1:span}>'
  'octicon-trashcan':
    'prefix': 'octicon-trashcan'
    'body': '<${1:span} class="octicon octicon-trashcan$2">$3</${1:span}>'
  'octicon-triangle-down':
    'prefix': 'octicon-triangle-down'
    'body': '<${1:span} class="octicon octicon-triangle-down$2">$3</${1:span}>'
  'octicon-triangle-left':
    'prefix': 'octicon-triangle-left'
    'body': '<${1:span} class="octicon octicon-triangle-left$2">$3</${1:span}>'
  'octicon-triangle-right':
    'prefix': 'octicon-triangle-right'
    'body': '<${1:span} class="octicon octicon-triangle-right$2">$3</${1:span}>'
  'octicon-triangle-up':
    'prefix': 'octicon-triangle-up'
    'body': '<${1:span} class="octicon octicon-triangle-up$2">$3</${1:span}>'
  'octicon-unfold':
    'prefix': 'octicon-unfold'
    'body': '<${1:span} class="octicon octicon-unfold$2">$3</${1:span}>'
  'octicon-unmute':
    'prefix': 'octicon-unmute'
    'body': '<${1:span} class="octicon octicon-unmute$2">$3</${1:span}>'
  'octicon-versions':
    'prefix': 'octicon-versions'
    'body': '<${1:span} class="octicon octicon-versions$2">$3</${1:span}>'
  'octicon-x':
    'prefix': 'octicon-x'
    'body': '<${1:span} class="octicon octicon-x$2">$3</${1:span}>'
  'octicon-zap':
    'prefix': 'octicon-zap'
    'body': '<${1:span} class="octicon octicon-zap$2">$3</${1:span}>'
