'.text.html':
  'pf-amazon':
    'prefix': 'pf-amazon'
    'body': '<${1:span} class="pf pf-amazon$2">$3</${1:span}>'
  'pf-american-express-alt':
    'prefix': 'pf-american-express-alt'
    'body': '<${1:span} class="pf pf-american-express-alt$2">$3</${1:span}>'
  'pf-american-express':
    'prefix': 'pf-american-express'
    'body': '<${1:span} class="pf pf-american-express$2">$3</${1:span}>'
  'pf-apple-pay':
    'prefix': 'pf-apple-pay'
    'body': '<${1:span} class="pf pf-apple-pay$2">$3</${1:span}>'
  'pf-atm':
    'prefix': 'pf-atm'
    'body': '<${1:span} class="pf pf-atm$2">$3</${1:span}>'
  'pf-bancontact-mister-cash':
    'prefix': 'pf-bancontact-mister-cash'
    'body': '<${1:span} class="pf pf-bancontact-mister-cash$2">$3</${1:span}>'
  'pf-bank-transfer':
    'prefix': 'pf-bank-transfer'
    'body': '<${1:span} class="pf pf-bank-transfer$2">$3</${1:span}>'
  'pf-bankomat':
    'prefix': 'pf-bankomat'
    'body': '<${1:span} class="pf pf-bankomat$2">$3</${1:span}>'
  'pf-bitcoin-sign':
    'prefix': 'pf-bitcoin-sign'
    'body': '<${1:span} class="pf pf-bitcoin-sign$2">$3</${1:span}>'
  'pf-bitcoin':
    'prefix': 'pf-bitcoin'
    'body': '<${1:span} class="pf pf-bitcoin$2">$3</${1:span}>'
  'pf-braintree':
    'prefix': 'pf-braintree'
    'body': '<${1:span} class="pf pf-braintree$2">$3</${1:span}>'
  'pf-btc':
    'prefix': 'pf-btc'
    'body': '<${1:span} class="pf pf-btc$2">$3</${1:span}>'
  'pf-card':
    'prefix': 'pf-card'
    'body': '<${1:span} class="pf pf-card$2">$3</${1:span}>'
  'pf-carta-si':
    'prefix': 'pf-carta-si'
    'body': '<${1:span} class="pf pf-carta-si$2">$3</${1:span}>'
  'pf-cash-on-delivery':
    'prefix': 'pf-cash-on-delivery'
    'body': '<${1:span} class="pf pf-cash-on-delivery$2">$3</${1:span}>'
  'pf-cash-on-pickup':
    'prefix': 'pf-cash-on-pickup'
    'body': '<${1:span} class="pf pf-cash-on-pickup$2">$3</${1:span}>'
  'pf-cash':
    'prefix': 'pf-cash'
    'body': '<${1:span} class="pf pf-cash$2">$3</${1:span}>'
  'pf-cashcloud':
    'prefix': 'pf-cashcloud'
    'body': '<${1:span} class="pf pf-cashcloud$2">$3</${1:span}>'
  'pf-cb':
    'prefix': 'pf-cb'
    'body': '<${1:span} class="pf pf-cb$2">$3</${1:span}>'
  'pf-cirrus-alt':
    'prefix': 'pf-cirrus-alt'
    'body': '<${1:span} class="pf pf-cirrus-alt$2">$3</${1:span}>'
  'pf-cirrus':
    'prefix': 'pf-cirrus'
    'body': '<${1:span} class="pf pf-cirrus$2">$3</${1:span}>'
  'pf-clickandbuy':
    'prefix': 'pf-clickandbuy'
    'body': '<${1:span} class="pf pf-clickandbuy$2">$3</${1:span}>'
  'pf-credit-card':
    'prefix': 'pf-credit-card'
    'body': '<${1:span} class="pf pf-credit-card$2">$3</${1:span}>'
  'pf-dankort':
    'prefix': 'pf-dankort'
    'body': '<${1:span} class="pf pf-dankort$2">$3</${1:span}>'
  'pf-diners':
    'prefix': 'pf-diners'
    'body': '<${1:span} class="pf pf-diners$2">$3</${1:span}>'
  'pf-discover':
    'prefix': 'pf-discover'
    'body': '<${1:span} class="pf pf-discover$2">$3</${1:span}>'
  'pf-ec':
    'prefix': 'pf-ec'
    'body': '<${1:span} class="pf pf-ec$2">$3</${1:span}>'
  'pf-elo-alt':
    'prefix': 'pf-elo-alt'
    'body': '<${1:span} class="pf pf-elo-alt$2">$3</${1:span}>'
  'pf-elo':
    'prefix': 'pf-elo'
    'body': '<${1:span} class="pf pf-elo$2">$3</${1:span}>'
  'pf-eps':
    'prefix': 'pf-eps'
    'body': '<${1:span} class="pf pf-eps$2">$3</${1:span}>'
  'pf-eur':
    'prefix': 'pf-eur'
    'body': '<${1:span} class="pf pf-eur$2">$3</${1:span}>'
  'pf-facture':
    'prefix': 'pf-facture'
    'body': '<${1:span} class="pf pf-facture$2">$3</${1:span}>'
  'pf-fattura':
    'prefix': 'pf-fattura'
    'body': '<${1:span} class="pf pf-fattura$2">$3</${1:span}>'
  'pf-flattr':
    'prefix': 'pf-flattr'
    'body': '<${1:span} class="pf pf-flattr$2">$3</${1:span}>'
  'pf-gbp':
    'prefix': 'pf-gbp'
    'body': '<${1:span} class="pf pf-gbp$2">$3</${1:span}>'
  'pf-giropay':
    'prefix': 'pf-giropay'
    'body': '<${1:span} class="pf pf-giropay$2">$3</${1:span}>'
  'pf-google-wallet-alt':
    'prefix': 'pf-google-wallet-alt'
    'body': '<${1:span} class="pf pf-google-wallet-alt$2">$3</${1:span}>'
  'pf-google-wallet':
    'prefix': 'pf-google-wallet'
    'body': '<${1:span} class="pf pf-google-wallet$2">$3</${1:span}>'
  'pf-gratipay-sign':
    'prefix': 'pf-gratipay-sign'
    'body': '<${1:span} class="pf pf-gratipay-sign$2">$3</${1:span}>'
  'pf-gratipay':
    'prefix': 'pf-gratipay'
    'body': '<${1:span} class="pf pf-gratipay$2">$3</${1:span}>'
  'pf-ideal':
    'prefix': 'pf-ideal'
    'body': '<${1:span} class="pf pf-ideal$2">$3</${1:span}>'
  'pf-ils':
    'prefix': 'pf-ils'
    'body': '<${1:span} class="pf pf-ils$2">$3</${1:span}>'
  'pf-inr':
    'prefix': 'pf-inr'
    'body': '<${1:span} class="pf pf-inr$2">$3</${1:span}>'
  'pf-interac':
    'prefix': 'pf-interac'
    'body': '<${1:span} class="pf pf-interac$2">$3</${1:span}>'
  'pf-invoice-sign-alt-o':
    'prefix': 'pf-invoice-sign-alt-o'
    'body': '<${1:span} class="pf pf-invoice-sign-alt-o$2">$3</${1:span}>'
  'pf-invoice-sign-alt':
    'prefix': 'pf-invoice-sign-alt'
    'body': '<${1:span} class="pf pf-invoice-sign-alt$2">$3</${1:span}>'
  'pf-invoice-sign-o':
    'prefix': 'pf-invoice-sign-o'
    'body': '<${1:span} class="pf pf-invoice-sign-o$2">$3</${1:span}>'
  'pf-invoice-sign':
    'prefix': 'pf-invoice-sign'
    'body': '<${1:span} class="pf pf-invoice-sign$2">$3</${1:span}>'
  'pf-invoice':
    'prefix': 'pf-invoice'
    'body': '<${1:span} class="pf pf-invoice$2">$3</${1:span}>'
  'pf-jcb':
    'prefix': 'pf-jcb'
    'body': '<${1:span} class="pf pf-jcb$2">$3</${1:span}>'
  'pf-jpy':
    'prefix': 'pf-jpy'
    'body': '<${1:span} class="pf pf-jpy$2">$3</${1:span}>'
  'pf-krw':
    'prefix': 'pf-krw'
    'body': '<${1:span} class="pf pf-krw$2">$3</${1:span}>'
  'pf-maestro-alt':
    'prefix': 'pf-maestro-alt'
    'body': '<${1:span} class="pf pf-maestro-alt$2">$3</${1:span}>'
  'pf-maestro':
    'prefix': 'pf-maestro'
    'body': '<${1:span} class="pf pf-maestro$2">$3</${1:span}>'
  'pf-mastercard-alt':
    'prefix': 'pf-mastercard-alt'
    'body': '<${1:span} class="pf pf-mastercard-alt$2">$3</${1:span}>'
  'pf-mastercard-securecode':
    'prefix': 'pf-mastercard-securecode'
    'body': '<${1:span} class="pf pf-mastercard-securecode$2">$3</${1:span}>'
  'pf-mastercard':
    'prefix': 'pf-mastercard'
    'body': '<${1:span} class="pf pf-mastercard$2">$3</${1:span}>'
  'pf-mercado-pago-sign':
    'prefix': 'pf-mercado-pago-sign'
    'body': '<${1:span} class="pf pf-mercado-pago-sign$2">$3</${1:span}>'
  'pf-mercado-pago':
    'prefix': 'pf-mercado-pago'
    'body': '<${1:span} class="pf pf-mercado-pago$2">$3</${1:span}>'
  'pf-moip':
    'prefix': 'pf-moip'
    'body': '<${1:span} class="pf pf-moip$2">$3</${1:span}>'
  'pf-multibanco':
    'prefix': 'pf-multibanco'
    'body': '<${1:span} class="pf pf-multibanco$2">$3</${1:span}>'
  'pf-ogone':
    'prefix': 'pf-ogone'
    'body': '<${1:span} class="pf pf-ogone$2">$3</${1:span}>'
  'pf-pagseguro':
    'prefix': 'pf-pagseguro'
    'body': '<${1:span} class="pf pf-pagseguro$2">$3</${1:span}>'
  'pf-paybox':
    'prefix': 'pf-paybox'
    'body': '<${1:span} class="pf pf-paybox$2">$3</${1:span}>'
  'pf-paylife':
    'prefix': 'pf-paylife'
    'body': '<${1:span} class="pf pf-paylife$2">$3</${1:span}>'
  'pf-paymill':
    'prefix': 'pf-paymill'
    'body': '<${1:span} class="pf pf-paymill$2">$3</${1:span}>'
  'pf-paypal-alt':
    'prefix': 'pf-paypal-alt'
    'body': '<${1:span} class="pf pf-paypal-alt$2">$3</${1:span}>'
  'pf-paypal':
    'prefix': 'pf-paypal'
    'body': '<${1:span} class="pf pf-paypal$2">$3</${1:span}>'
  'pf-paysafecard':
    'prefix': 'pf-paysafecard'
    'body': '<${1:span} class="pf pf-paysafecard$2">$3</${1:span}>'
  'pf-payshop':
    'prefix': 'pf-payshop'
    'body': '<${1:span} class="pf pf-payshop$2">$3</${1:span}>'
  'pf-payu':
    'prefix': 'pf-payu'
    'body': '<${1:span} class="pf pf-payu$2">$3</${1:span}>'
  'pf-postepay':
    'prefix': 'pf-postepay'
    'body': '<${1:span} class="pf pf-postepay$2">$3</${1:span}>'
  'pf-quick':
    'prefix': 'pf-quick'
    'body': '<${1:span} class="pf pf-quick$2">$3</${1:span}>'
  'pf-rechnung':
    'prefix': 'pf-rechnung'
    'body': '<${1:span} class="pf pf-rechnung$2">$3</${1:span}>'
  'pf-ripple':
    'prefix': 'pf-ripple'
    'body': '<${1:span} class="pf pf-ripple$2">$3</${1:span}>'
  'pf-rub':
    'prefix': 'pf-rub'
    'body': '<${1:span} class="pf pf-rub$2">$3</${1:span}>'
  'pf-sage':
    'prefix': 'pf-sage'
    'body': '<${1:span} class="pf pf-sage$2">$3</${1:span}>'
  'pf-sepa-alt':
    'prefix': 'pf-sepa-alt'
    'body': '<${1:span} class="pf pf-sepa-alt$2">$3</${1:span}>'
  'pf-sepa':
    'prefix': 'pf-sepa'
    'body': '<${1:span} class="pf pf-sepa$2">$3</${1:span}>'
  'pf-six':
    'prefix': 'pf-six'
    'body': '<${1:span} class="pf pf-six$2">$3</${1:span}>'
  'pf-skrill':
    'prefix': 'pf-skrill'
    'body': '<${1:span} class="pf pf-skrill$2">$3</${1:span}>'
  'pf-sofort':
    'prefix': 'pf-sofort'
    'body': '<${1:span} class="pf pf-sofort$2">$3</${1:span}>'
  'pf-square':
    'prefix': 'pf-square'
    'body': '<${1:span} class="pf pf-square$2">$3</${1:span}>'
  'pf-stripe':
    'prefix': 'pf-stripe'
    'body': '<${1:span} class="pf pf-stripe$2">$3</${1:span}>'
  'pf-truste':
    'prefix': 'pf-truste'
    'body': '<${1:span} class="pf pf-truste$2">$3</${1:span}>'
  'pf-try':
    'prefix': 'pf-try'
    'body': '<${1:span} class="pf pf-try$2">$3</${1:span}>'
  'pf-unionpay':
    'prefix': 'pf-unionpay'
    'body': '<${1:span} class="pf pf-unionpay$2">$3</${1:span}>'
  'pf-usd':
    'prefix': 'pf-usd'
    'body': '<${1:span} class="pf pf-usd$2">$3</${1:span}>'
  'pf-verified-by-visa':
    'prefix': 'pf-verified-by-visa'
    'body': '<${1:span} class="pf pf-verified-by-visa$2">$3</${1:span}>'
  'pf-verisign':
    'prefix': 'pf-verisign'
    'body': '<${1:span} class="pf pf-verisign$2">$3</${1:span}>'
  'pf-visa-electron':
    'prefix': 'pf-visa-electron'
    'body': '<${1:span} class="pf pf-visa-electron$2">$3</${1:span}>'
  'pf-visa':
    'prefix': 'pf-visa'
    'body': '<${1:span} class="pf pf-visa$2">$3</${1:span}>'
  'pf-western-union-alt':
    'prefix': 'pf-western-union-alt'
    'body': '<${1:span} class="pf pf-western-union-alt$2">$3</${1:span}>'
  'pf-western-union':
    'prefix': 'pf-western-union'
    'body': '<${1:span} class="pf pf-western-union$2">$3</${1:span}>'
  'pf-wirecard':
    'prefix': 'pf-wirecard'
    'body': '<${1:span} class="pf pf-wirecard$2">$3</${1:span}>'
